.App {
  margin: 0;
  padding: 0;

  text-align: center;
}
.topHeader {
  .header {
    background-color: black;
    .headerText {
      font-family: "Courier New", Courier, monospace;
      color: white;
      font-weight: 700;
    }
  }
}

.addTodo {
  width: 50rem;
  margin: 1rem auto;

  .inputText {
    width: 26rem;
    margin: 1rem;
  }
  .inputText2 {
    width: 8rem;
    margin: 1rem;
  }
  .btn {
    width: 10rem;
    height: 3.3rem;
    margin: 1rem;
  }
}

.todos {
  width: 60rem;
  margin: 2rem auto;
  padding: 0.6rem;

  .todo {
    height: 1.1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cddafd;
    border-radius: 1rem;

    .labels {
      width: 20rem;
      font-size: large;
      font-weight: 500;
    }
    .done {
      text-decoration: line-through 2px;
    }

    .btnGroup {
      width: 12rem;

      .btn {
        margin: 0 0.2rem;
        width: 5rem;
      }
    }
  }
}
